<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<style type="text/css">
			body{
				font-family: Arial;
			}
		</style>
	</head>
	<body>
		<center>
			<h2>DELETE CONFIRMATION</h2>
				
				<table cellpadding="4" cellspacing="4">
					<tr>
						<td><b>ACCOUNT NO.:</b></td>
						<td><?php echo $account_no; ?></td>
					</tr>
					<tr>
						<td><b>ACCOUNT NAME:</b></td>
						<td><?php echo $account_name; ?></td>
					</tr>
				</table>
				<br />
				<br/>
				<h4>Are you sure you want to delete?</h4>
				<form method="post">
					<input type="hidden" name="id" value="<?php echo $account_id; ?>"/>
					<input type="submit" name="buttonAdd" value="Confirm">
				</form>
				<br />
				<br/>
				<a href="http://localhost:8082/ci226/home">Back to Home</a>
		</center>
	</body>
</html>