<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<style type="text/css">
			body{
				font-family: Arial;
			}
		</style>
	</head>
	<body>
		<center>
			<h2>WITHDRAW</h2>
			<form method="post">
				<table cellpadding="4" cellspacing="4">
					<tr>
						<td>ACCOUNT NO.</td>
						<td><input type="text"  name="no" /></td>
					</tr>
					<tr>
						<td>AMOUNT</td>
						<td><input type="text"  name="amount" /></td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td><input type="submit" value="Save"  name="buttonAdd"/></td>
					</tr>
				</table>
			</form>
			<br />
			
			<!-- Label to display error message -->
			<label>
						<?php 
			if(isset($error)){

			if($error==-1)
				{
				echo "Acccunt No not exists!";
				}else if($error==-2){
				echo "Not enough balance!";



				}


				else{
				
					echo "Successfully withdrawn!";

				}
				}	
				?>

			</label>
			<br/>
			<br/>
			<a href="http://localhost:8082/ci226/home">Back to Home</a>
		</center>
	</body>
</html>